{% extends 'base.html.twig' %}

{% block title %}Modifier organisation{% endblock %}

{% block body %}
<section class="edit_organization">
    <h2>Modifier organisation : {{ organization.name }} </h2>


    {{ form_start(form, {'action': path('organization_edit', {id: index}), 'method': 'POST'}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <h3> Utilisateur(s) de l'organisation  <a href="{{ path('add_user_page') }}" class="btn btn-secondary">Ajouter un utilisateur</a></h3>
    <table>
        <thead>
            <tr>
                <th> Nom </th>
                <th> Rôles </th>
                <th> Edition </th>
            </tr>
        </thead>

        <tbody>
            {% for userId,user in organization.users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td> 
                        <ul>
                            {% for role in user.role %}
                                <li>{{ role }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('edit_user_page', {id: userId, organizationId: index}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9.243 19H21v2H3v-4.243l9.9-9.9 4.242 4.244L9.242 19zm5.07-13.556l2.122-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z" fill="rgba(135,202,135,1)"/></svg>
                        </a>
                        <a href="{{ path('user_remove', {id: userId, organizationId: index}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm3-3V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9zm0 8v6h2v-6H9zm4 0v6h2v-6h-2z" fill="rgba(196,51,51,1)"/></svg>
                        </a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
